<!-- <div class="container">
  <div class="row-title" style="text-align: center;  border-bottom: double;">
    <h2> {{ title }} </h2> 
  </div><br>
</div>

<br><br>  
<h2 style="text-align: center"> {{ subtitle }} </h2> <br>
<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        
      </div>
    </div>
  </div>
</div> -->


<h1 class="well"  style="text-align: center;  ">
  {{ title }}
</h1>
<div class="container">
  <div class="col-md-10" style="padding-left: 15%">
    <div class="form-area"> 
      <form role="form">
        <br style="clear:both">
        <h3 style="margin-bottom: 25px; text-align: center;">{{ subtitle }}</h3>
        <!-- <div class="form-group">
          Nombre y apellidos * : <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" [(ngModel)]="name" required> <br>
          Correo electrónico * : <input type="email" class="form-control" id="email" name="email" placeholder="Email" [(ngModel)]="email" required> <br>
          Móvil: <input type="phone" class="form-control" id="mobile" name="mobile" placeholder="Móvil (opcional)" [(ngModel)]="mobile" required> <br>
          Motivo de contacto * : <input type="text" class="form-control" id="subject" name="subject" placeholder="Motivo" [(ngModel)]="subject" required> <br>
          Descriptión detallada * :
            <textarea class="form-control" type="textarea" id="message" name="message" placeholder="¿En qué podemos ayudarte?" [(ngModel)]="message" maxlength="140" rows="7"></textarea>              
        </div> 
        <button type="button" id="submit" name="submit" class="btn btn-primary pull-right" (click)="save(name, email, mobile, subject, message)">Enviar</button>-->
      </form>
    </div>
  </div>
</div>